@import "tailwindcss";
@plugin "daisyui";
@plugin 'tailwind-scrollbar';

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari */
}

.scrollbar-hide {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

body {
  overflow-x: hidden;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 0.6s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
